<!DOCTYPE html>
<html>
<head>
  <title>RTest</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag "bootstrap" %>
  <%= javascript_include_tag 'bootstrap' %>
  <%= javascript_include_tag 'Chart.bundle' %>
  <%= javascript_include_tag 'jquery-3.1.0' %>

</head>

<body>
<%= render 'layouts/header' %>
<div class="container">
  <%= yield %>
</div>
<%= render 'layouts/footer' %>

</body>
</html>
